.Container {
    width: 100%;
    height: 3650px;
}

.navi {
    width: 100%;
    height: 100px;
}

.isi {
    width: 100%;
    height: 2960px;
    display: flex;
    justify-content: center;
}

.isicontent {
    width: 80%;
    height: 100%;
}

.a {
    width: 100%;
    height: 950px;
}

.aj {
    height: 200px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ag {
    width: 100%;
    height: 700px;
}

.b {
    width: 100%;
    height: 600px;
}

.bj {
    font-size: 35px;
    font-weight: bolder;
}

.bl {
    font-size: 20px;
}

.c {
    width: 100%;
    height: 600px;
}

.cj {
    font-size: 35px;
    font-weight: bolder;
}

.cv {
    width: 600px;
    height: 500px;
    display: block;
    gap: 20px;
}

.cv1 {
    height: 100px;
    width: 500px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv2 {
    height: 100px;
    width: 500px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv3 {
    height: 100px;
    width: 500px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv4 {
    height: 100px;
    width: 500px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #EFC81A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d {
    width: 100%;
    height: 500px;
}

.d1 {
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
}

.d1a {
    background-color: rgb(214, 212, 212);
    width: 1000px;
    height: 100%;
}

.d1a1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}

.d2 {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d2a {
    height: 60px;
    width: 400px;
    border: 0;
    border-radius: 10px;
    background-color: #EFC81A;
    color: aliceblue;
}

.e {
    width: 100%;
    height: 300px;
}

.e1 {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.e2 {
    width: 100%;
    height: 50%;
    display: flex;
}

.e2a {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.e2a1 {
    height: 100px;
    width: 100px;
}

.e2b {
    width: 80%;
    height: 100%;
}

.e2b1 {
    width: 100%;
    height: 30%;
    font-weight: bold;
    font-size: larger;
}

.e2b2 {
    width: 100%;
    height: 70%;
}

footer {
    background-color: #EFC81A;
    width: 100%;
    height: 700px;
    text-align: center;
}

.ft1 {
    width: 100%;
    padding-top: 250px;
}

.ft1a {
    align-items: center;
}

.ft2 {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: center;
    padding-top: 250px;
    color: #707070;
}